.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    pointer-events: none;
}

.header > * {
    pointer-events: auto;
}

.header-brand {
    background: white;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 6px 10px;
}

.header-title {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.header-title--short {
    display: none;
}

@media (max-width: 600px) {
    .header-title--full {
        display: none;
    }

    .header-title--short {
        display: block;
    }
}
