@font-face {
    font-family: "Aeroport";
    font-display: swap;
    src:
        url("/assets/fonts/Aeroport-regular.otf") format("opentype"),
        url("/assets/fonts/Aeroport-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Aeroport Mono";
    font-display: swap;
    src:
        url("/assets/fonts/Aeroport-monospaced.otf") format("opentype"),
        url("/assets/fonts/Aeroport-monospaced.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    font-family: "Aeroport", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

#root {
    width: 100%;
    height: 100%;
}
