.float {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    z-index: 100;

    min-width: 600px;
}

.float-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.float-control {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    opacity: 0;
    cursor: col-resize;
}

/* mobile  */
@media screen and (max-width: 768px) {
    .float {
        position: unset;
        top: unset;
        right: unset;
        width: 100% !important;
        height: 100%;
        z-index: 10;

        min-width: unset;
    }

    .float-control {
        display: none;
    }
}

