.my-popup {
    max-width: 400px;
}

.popup-header {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    margin: 0 0 4px 0;
    border-bottom: 1px solid #e0e0e0;
}

.popup-onp {
    color: #888;
    font-weight: 400;
}

.popup-location {
    padding: 4px 8px;
    font-size: 12px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.popup-location-district {
    color: #888;
}

.properties-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.properties-table tr:nth-child(even) {
    background-color: #f5f5f5;
}

.properties-table td {
    padding: 4px 8px;
    vertical-align: top;
}

.prop-key {
    font-weight: 500;
    color: #666;
    white-space: nowrap;
}

.prop-value {
    color: #333;
}

.prop-value-highlight {
    font-weight: 700;
    font-size: 14px;
}
